<h3 style="color:cadetblue;">Crear empleado</h3>

<hr>

<form ngNativeValidate [formGroup]="forma" (ngSubmit)="enviar()">
    <div class="row">
        <div class="col-8">
            <mat-form-field appearance="fill">
                <mat-label>Nombre(s)</mat-label>
                <input matInput type="text" formControlName="nombre">
            </mat-form-field>
        </div>
        <div class="col-8">
            <mat-form-field appearance="fill">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput type="text" formControlName="apellidoPaterno" >
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <mat-form-field appearance="fill">
                <mat-label>Apellido Materno</mat-label>
                <input matInput type="text" formControlName="apellidoMaterno" >
            </mat-form-field>
        </div>
        <div class="col-8">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="buttonProp">
            <button type="submit" class="btn btn-block btn-success" [disabled]="!forma.valid">Guardar Empleado</button>
        </div>
    </div>
</form>